<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<h1> Hello World!</h1>


<ul>
  <% @articles.each do |article| %>
    <li>
      <%# THIS WILL BE FORWARD TO THE ENDPOINT %>
      <a href="/articles/<%= article.id%>">
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>